coverage==4.5.3
gunicorn==19.9.0
Django==2.2
django-pigeon==0.3.0
python-memcached==1.59
psycopg2==2.7.7
whitenoise==4.1.2
Pillow==5.4.1
django-classbasedsettings==1.5.0
dj-database-url==0.5.0
sorl-thumbnail==12.5.0
django-s3-storage==0.12.4
raven==6.10.0
