coverage==4.2
gunicorn==19.6.0
Django==1.9.6
python-memcached==1.58
psycopg2==2.6.2
whitenoise==3.2.1
Pillow==3.3.0
django-classbasedsettings==1.5.0
dj-database-url==0.4.1
sorl-thumbnail==12.3
boto==2.42.0
django-storages==1.5.0
raven==5.24.3
