coverage==4.4.2
gunicorn==19.7.1
Django==1.11.9
django-pigeon==0.2.0
python-memcached==1.59
psycopg2==2.7.3.2
whitenoise==3.3.1
Pillow==5.0.0
django-classbasedsettings==1.5.0
dj-database-url==0.4.2
sorl-thumbnail==12.4.1
boto==2.48.0
django-storages==1.6.5
raven==6.4.0
