*, h1, h2, h3, h4, h5, h6, .button {
    font-family: Dosis, sans-serif;
}

.top-bar, .menu > li {
    background-color: #cc5a99;
}
.menu > li > a {
    color: #fff;
}
.container {
    padding: 10px;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}
.subheading {
    margin: 30px;
}
.entries {
    margin-left: 20px;
    margin-right: 20px;
}

.entry {
    padding-left: 10px;
    padding-right: 10px;
}
.entry-vote-button-space {
    padding: 0;
}
.entry-vote-count {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
    text-align: center;
}
