*, h1, h2, h3, h4, h5, h6 {
    font-family: Dosis, sans-serif;
}
body {
    background-color: #ffccff;
}

.container {
    padding: 10px;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}
.subheading {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.entries {
    margin-left: 20px;
    margin-right: 20px;
}
