{% load thumbnail %}

{% thumbnail entry.photo.img "x300" as thumb %}
    <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ entry.photo.title }}" />
{% endthumbnail %}
<div class="row">
    {% if can_vote %}
        <div class="small-4 columns entry-vote-button-space">
            <button type="button" class="button expanded {% if entry.has_upvoted %}success{% else %}secondary{% endif %} upvote-button"><i class="fa fa-2x fa-thumbs-up"></i></a>
        </div>
    {% endif %}
    <div class="{% if can_vote %}small-4{% else %}small-12{% endif %} columns entry-vote-button-space">
        <div class="entry-vote-count">{{ entry.vote_count }}</div>
    </div>
    {% if can_vote %}
        <div class="small-4 columns entry-vote-button-space">
            <button type="button" class="button expanded {% if entry.has_downvoted %}alert{% else %}secondary{% endif %} downvote-button"><i class="fa fa-2x fa-thumbs-down"></i></a>
        </div>
    {% endif %}
</div>
