{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ contest.name }}{% endblock %}

{% block cssincludes %}
    <link rel="stylesheet" href="{% static "slick/slick.css" %}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{% static "slick/slick-theme.css" %}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/dropzone.css" %}" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
    <h1 class="title">{{ contest.name }}</h1>
    <h3 class="subheading">Sponsored by <a href="{{ contest.sponsor.url }}">{{ contest.sponsor.name }}</a></h3>
    <p>{{ contest.description }}</p>
    <div class="entries">
        {% for entry in entries %}
            <div class="entry" id="{{ entry.id }}">
                {% include "includes/photo-entry.html" %}
            </div>
        {% endfor %}
    </div>
    {% if can_submit_photo %}
        <h4>Submit your Photo</h4>
        <form action="{{ contest.upload_photo_url }}" class="dropzone" enctype="multipart/form-data" method="post" id="dropzone-submit-photo">
            {% csrf_token %}
            <div class="dz-message">Drop images here to upload</div>
        </form>
    {% endif %}
    {% if not user_authenticated %}
        <h4 class="login-to-vote"><a href="{% url 'login' %}">Login</a> to vote and submit your photo!</h4>
    {% endif %}
    <div id="error-modal" class="reveal-modal" data-reveal aria-labelledby="error" aria-hidden="true" role="dialog">
      <h2 class="error-title">Oops! An error occurred.</h2>
      <p class="error-type lead"></p>
      <p class="error-message">An unknown error occurred.</p>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
{% endblock %}

{% block jsincludes %}
    <script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dropzone.js" %}"></script>
    <script type="text/javascript">
        var contest_slug = "{{ contest.slug }}";
    </script>
    <script type="text/javascript" src="{% static "js/contest-details.js" %}"></script>
{% endblock %}
