{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ contest.name }}{% endblock %}

{% block cssincludes %}
    <link rel="stylesheet" href="{% static "slick/slick.css" %}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{% static "slick/slick-theme.css" %}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/dropzone.css" %}" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
    <h1 class="title">{{ contest.name }}</h1>
    <h3 class="subheading">Sponsored by <a href="{{ contest.sponsor.url }}">{{ contest.sponsor.name }}</a></h3>
    <p>{{ contest.description }}</p>
    <div class="entries">
        {% for entry in entries %}
            <div class="entry" id="{{ entry.id }}">
                {% include "includes/photo-entry.html" %}
            </div>
        {% endfor %}
    </div>
    {% if submissions_open %}
        <h4>Submit your Photo</h4>
        <form action="{{ contest.upload_photo_url }}" class="dropzone" enctype="multipart/form-data" method="post" id="dropzone-submit-photo">
            {% csrf_token %}
            <div class="dz-message">Drop images here to upload</div>
        </form>
    {% endif %}
{% endblock %}

{% block jsincludes %}
    <script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dropzone.js" %}"></script>
    <script type="text/javascript">
        var contest_slug = "{{ contest.slug }}";
    </script>
    <script type="text/javascript" src="{% static "js/contest-details.js" %}"></script>
{% endblock %}
